*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#header{
    width:800px;
    height: 200px;
    background-color: #36179c;
    margin: 0 auto;
    /* margin: 0 auto; digunakan untuk mengatur posisi elemen agar berada di tengah */
}
#judul{
    color: #fff;
    text-align: center;
    font-size:30px;
    text-transform: uppercase;
    padding-top: 70px;

}
#nav{
    background: blueviolet;
   
    width: 800px;
    color: white;
    margin: 0 auto;
}
#nav ul{
    list-style: none;
}
#nav ul li{
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
#conten{
  width: 800px;
  margin: 0 auto;
  background: #f2f2f2;

}
#artikel{
    background: #ccc;
    padding: 30px;
    font-size: 18px;
    width: 500px;
    float: left;
}
#sidebar{
    width: 300px;
    padding: 30px;
    background: white;
    float: right;
}
.clear{
    clear: both;
}
#footer{
    width: 800px;
    background: blue;
    margin: 0 auto;
    color: white;
    padding: 20px;
    text-align: center;
}