h1{
    color: blueviolet;
    text-align: center;
    background-color: blanchedalmond;
    border: 5px solid palevioletred;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
    /* # diginakan untuk id */
    /* . digunakan untuk class */
}
p{
    color: blueviolet;
    background-color: blanchedalmond;
    border: 5px solid palevioletred;
    border-style: dashed;
    text-align: center;
}
#terserah{
    background-image:url(../img/raiden-shogun-5k-5120x2880-16500.jpg);
    background-size: cover;
    background-position: center;

}
#terserah h1{
    background-color: transparent;
    border: none;
}
#kotaksatu{
    width: 50px;
    height: 50px;
    background-color: red;
    display: inline-block;
    border: 1px solid green;
}
#kotakdua{
    width: 50px;
    height: 50px;
    background-color: yellow;
    display: inline-block;

}
#kotaktiga{
    width: 50px;
    height: 50px;
    background-color: green;
    display: inline-block;
/* display: inline-block; digunakan untuk menampilkan kotak secara berderet */
}
#lingkaran{
    width: 50px;
    height: 50px;
    background-color: blueviolet;
    display: block;
    border-radius: 50px;
    /* border-radius digunakan untuk membuat lingkaran */
}
#persegipanjang{
    width: 30%;
    height: 50px;
    background-color: pink;
    display: block;

}